### Installation

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\thinkingmonks\repos\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\thinkingmonks\repos\.venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\thinkingmonks\repos\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\thinkingmonks\repos\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\thinkingmonks\repos\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\thinkingmonks\repos\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd
import numpy as np

### List

In [7]:
data = [1,2,3,4,5]
s1 = pd.Series(data)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
data = [1.5,2.3,3,4,5.4]
s2 = pd.Series(data)
s2

0    1.5
1    2.3
2    3.0
3    4.0
4    5.4
dtype: float64

In [9]:
data = np.array([1,2,3,4,5])
s3 = pd.Series(data)
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data = {'col1': 1, 'col2': 2, 'col3': 3}
s4 = pd.Series(data)
s4

col1    1
col2    2
col3    3
dtype: int64

In [11]:
data = {'col1': 1, 'col2': 2.5, 'col3': 3}
s5 = pd.Series(data)
s5

col1    1.0
col2    2.5
col3    3.0
dtype: float64

In [15]:
s6 = pd.Series(False, index=['a', 'b', 'c'])
s6

a    False
b    False
c    False
dtype: bool

In [16]:
s6 = pd.Series([5,6,7], index=['a1', 'b1', 'c1'])
s6

a1    5
b1    6
c1    7
dtype: int64

In [20]:
s7 = pd.Series([1, 2, 3], index=pd.date_range('2025-05-29', periods=3))
s7

2025-05-29    1
2025-05-30    2
2025-05-31    3
Freq: D, dtype: int64

In [23]:
data = [x*2 for x in range(3)]
s8 = pd.Series(data)
s8

0    0
1    2
2    4
dtype: int64

In [27]:
data = [1.5, 2.5, 3.5]
s9 = pd.Series(data, index=['a', 'b', 'c'])
s9

a    1.5
b    2.5
c    3.5
dtype: float64

In [28]:
data = [1.5, 2.5, 3.5]
s10 = pd.Series(data, index=['a', 'b', 'c'], dtype='float32')
s10

a    1.5
b    2.5
c    3.5
dtype: float32

In [31]:
s11 = pd.Series(['a', 'b', 'c'])
s11

0    a
1    b
2    c
dtype: object

In [33]:
s12 = pd.Series(['a', 'b', 'c', 'a', 'c'], dtype='category')
s12

0    a
1    b
2    c
3    a
4    c
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [34]:
s13 = pd.Series(['a', np.nan, 'c', None, 'c'])
s13

0       a
1     NaN
2       c
3    None
4       c
dtype: object

In [35]:
s14 = pd.Series(np.random.randn(5))
s14

0    0.081952
1   -0.420363
2   -0.018323
3   -0.572142
4    1.166966
dtype: float64

In [38]:
s15 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'], name='random_values')
s15

a    1.225161
b    0.376072
c    0.338685
d   -0.361600
e    0.405085
Name: random_values, dtype: float64

In [41]:
names = ['Alice_Wills', 'Bob_John', 'Charlie_Jesse']
s16 = pd.Series([ name.split('_')[1] for name in names])
s16

0    Wills
1     John
2    Jesse
dtype: object

In [42]:
def square(x):
    return x * x

s17 = pd.Series([1, 2, 3, 4, 5]).apply(square)
s17

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [44]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s18 = pd.Series(data)
s18

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [45]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s19 = pd.Series(data).reindex(['a', 'b', 'c', 'd', 'e', 'f'])
s19

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [46]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s20 = pd.Series(data).reindex(['a', 'b', 'c', 'd', 'e', 'f'], fill_value=0)
s20

a    1
b    2
c    3
d    4
e    5
f    0
dtype: int64

In [48]:
tuple_data = [('A', 1), ('B', 1), ('C', 3)]
index = pd.MultiIndex.from_tuples(tuple_data)
s21 = pd.Series([10, 20, 30], index=index)
s21

A  1    10
B  1    20
C  3    30
dtype: int64

In [49]:
tuple_data = [('A', 1), ('B', 1), ('C', 3)]
index = pd.MultiIndex.from_tuples(tuple_data, names=['letter', 'number'])
s22 = pd.Series([10, 20, 30], index=index)
s22

letter  number
A       1         10
B       1         20
C       3         30
dtype: int64