### 1. From Dictionary

In [ ]:
import pandas as pd

data = {
    'name': ['John', 'Anna', 'Peter'],
    'age': [28, 22, 35],
    'city': ['New York', 'Paris', 'London']
}
df = pd.DataFrame(data)
df.head()

### 2. From Lists

In [ ]:
names = ['John', 'Anna', 'Peter']
ages = [28, 22, 35]
cities = ['New York', 'Paris', 'London']

df = pd.DataFrame(list(zip(names, ages, cities)), 
                 columns=['name', 'age', 'city'])
df.head()

### 3. From CSV File

In [ ]:
df = pd.read_csv('data.csv')
df.head()

### 4. From Excel File

In [ ]:
!pip install openpyxl
import pandas as pd

df = pd.read_excel('company.xlsm', sheet_name='employee')
df.head()

In [ ]:
import pandas as pd

df = pd.read_excel('company.xlsm', sheet_name='sales')
df.head()

### 5. From NumPy Array

In [ ]:
import numpy as np

array = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]])
df = pd.DataFrame(array, columns=['A', 'B', 'C'])
df.head()

### 6. From List of Dictionaries

In [ ]:
data = [
    {'name': 'John', 'age': 28, 'city': 'New York'},
    {'name': 'Anna', 'age': 22, 'city': 'Paris'},
    {'name': 'Peter', 'age': 35, 'city': 'London'}
]
df = pd.DataFrame(data)
df

### 7. From JSON

In [ ]:
df = pd.read_json('data.json')
df

### 8. Empty DataFrame

In [14]:
df = pd.DataFrame(columns=['name', 'age', 'city'])
df

Empty DataFrame
Columns: [name, age, city]
Index: []

### 9. From Pandas Series

In [15]:
data = {
    'name': pd.Series(['John', 'Anna', 'Peter']),
    'age': pd.Series([28, 22, 35]),
    'city': pd.Series(['New York', 'Paris', 'London'])
}
df = pd.DataFrame(data)
df

    name  age      city
0   John   28  New York
1   Anna   22     Paris
2  Peter   35    London